body {
  margin: 0;
  padding: 0;
  background: url(background.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  text-align: center;
  
}

#oi{
  text-shadow: 4px 4px 2px #000;
  color: #F5EFFF;
  background-color:#3A3A3A;
text-align: center;
}
#ip{
background-color:#000000A8 ;
text-align: right;
color:#FFFFFF;

}
#signupForm{
color: #65A1C9;
text-align: center;
}
#i{
background-color: #000000A1;



}


#k{
  font-size: 18px;
background-color:#17C1FE;
}

